.animation{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: @color-white;
  font-size: 10px;
}

.animation-section{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &:after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &.section-1:after{
    content: "frame 1";
  }

  &.section-2:after{
    content: "frame 2";
  }

  &.section-3:after{
    content: "frame 3";
  }

}

.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px;
}


.section-1{
  .line{
    background: @color-primary;
    width: 3em;
    height: 2vh;
    position: absolute;
    left: 50%;
    bottom: 0;
  }

  .line-1{
    transform: translateX(-10em);
  }

  .line-2{
    transform: translateX(-5.5em);
  }

  .line-3{
    transform: translateX(-1em);
  }

  .line-4{
    transform: translateX(3.7em);
  }

  .line-5{
    transform: translateX(8.4em);
  }

  .background{
    background: #CCC;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 42vh;
    opacity: 0;
  }
}
